html {
  height: 100%;
  min-height: 100%;
}

header,
main,
footer {
  padding-left: 300px;
}

footer {
  margin-top: auto;
}

@media only screen and (max-width: 992px) {
  header,
  main {
    padding-left: 0;
    text-align: center;
  }
  footer {
    padding-left: 0;
  }
  main {
    margin-top: 100px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container-led {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

#topnav-mobile {
  background-color: #fff;
  border-color: rgb(177, 172, 172);
}

#search {
  padding: 0 45px 0 30px;
  height: 62px;
  box-sizing: border-box;
}

#search_icon {
  position: absolute;
  margin-top: 20px;
  right: 10px;
  cursor: pointer;
}

nav.top-nav {
  height: 110px;
  border-bottom: 1px solid;
  box-shadow: none;
  background-color: transparent;
}

nav.nav-wrapper {
  position: relative;
  height: 100%;
}

.header {
  color: #4caf50;
}

nav.top-nav h1.header {
  margin: 0;
  padding-top: 22px;
}

div.logo {
  margin-bottom: 33px;
}

#menu_icon {
  float: none;
  margin-left: 1.5rem;
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 36px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
