<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEDs Informática</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/led.ico" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <input
      type="hidden"
      name="admin"
      id="admin"
      value="false"
      th:value="${isAdmin}"
    />
    <!-- HEADER -->
    <header>
      <!-- TOP NAVBAR -->
      <nav class="top-nav hide-on-med-and-down blue lighten-4">
        <div class="container-led">
          <div class="nav-wrapper">
            <div class="row">
              <h1 class="header blue-text">Produtos</h1>
            </div>
          </div>
        </div>
      </nav>
      <div class="divider"></div>
      <div class="navbar-fixed hide-on-large-only blue lighten-4">
        <nav class="top-nav" id="topnav-mobile">
          <a href="#" data-target="slide-out" class="sidenav-trigger"
            ><i
              class="blue-text material-icons hide-on-large-only"
              id="menu_icon"
              >menu</i
            ></a
          >
          <div class="container">
            <div class="nav-wrapper">
              <div class="row">
                <h1 class="header flow-text blue-text">LEDs Info</h1>
                <h1 class="header flow-text blue-text">Produtos</h1>
              </div>
            </div>
          </div>
        </nav>
        <div class="divider"></div>
      </div>
      <!-- FIM TOP NAVBAR -->
      <!-- SIDE NAVBAR -->
      <div class="container">
        <ul
          class="sidenav sidenav-fixed blue lighten-4"
          id="slide-out"
          style="text-align: left"
        >
          <div class="logo center">
            <a id="logo-container" href="index.html"
              ><img src="./img/led2.png" style="height: 150px"
            /></a>
          </div>
          <div class="divider"></div>
          <li class="center">
            <span class="flow-text blue-text">LEDs Info</span>
          </li>
          <li class="search">
            <div class="search-wrapper">
              <input
                id="search"
                placeholder="Pesquisar..."
                class="blue lighten-1"
              />
              <i class="material-icons" id="search_icon">search</i>
              <div class="search-results"></div>
            </div>
          </li>
          <li id="login">
            <a href="/login" class="black-text"
              >Entrar<i class="material-icons blue-text">login</i></a
            >
          </li>
          <li id="logout">
            <a href="/logout" class="black-text"
              >Sair<i class="material-icons blue-text">logout</i></a
            >
          </li>
          <li class="active">
            <a href=".#"
              >Produtos<i class="material-icons blue-text">inventory_2</i></a
            >
          </li>
          <li>
            <a href="/carrinho"
              >Carrinho de Compras<i class="material-icons blue-text"
                >shopping_cart</i
              ></a
            >
          </li>
          <li>
            <a href="/sobre"
              >Sobre<i class="material-icons blue-text">timeline</i></a
            >
          </li>
        </ul>
      </div>
      <!-- FIM SIDE NAVBAR -->
    </header>
    <!-- FIM HEADER -->

    <!-- MAIN -->
    <main class="blue lighten-2">
      <div class="center" style="border: 10px solid">
        <div
          class="carousel carousel-slider"
          id="carousel1"
          style="height: 800px"
        >
          <a class="carousel-item" href="#one!"
            ><img src="./img/note1.jpg"
          /></a>
          <a class="carousel-item" href="#two!"
            ><img src="./img/note2.jpg"
          /></a>
          <a class="carousel-item" href="#three!"
            ><img src="./img/note3.jpg"
          /></a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="container-led">
        <div class="row"></div>
        <div class="row btnGer">
          <!-- Modal Trigger -->
          <a
            class="waves-effect waves-light btn modal-trigger green"
            href="#modal1"
            id="btnAdd"
            >ADD Produto</a
          >
        </div>
        <div class="row" id="parent">
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <form method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="nome" name="nome" type="text" class="validate" />
                    <label for="nome">Produto:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      id="preco"
                      name="preco"
                      type="text"
                      class="validate"
                    />
                    <label for="preco">Preço:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      id="imagem"
                      name="imagem"
                      type="text"
                      class="validate"
                    />
                    <label for="imagem">IMG:</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    class="waves-effect waves-green btn-flat green"
                  >
                    ADD
                  </button>
                  <a
                    href="#!"
                    class="modal-close waves-effect waves-green btn-flat red"
                    >Fechar</a
                  >
                </div>
              </form>
            </div>
          </div>
          <!-- CARD -->
          <div class="col s12 m4" th:each="produto : ${produtos}">
            <input
              type="hidden"
              name="codProd"
              id="codProd"
              value="1"
              th:value="${codProd}"
            />
            <div class="card" style="height: 700px">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="responsive-img" src="./img/prod1.png" />
              </div>
              <div class="card-content">
                <span
                  class="card-title activator grey-text text-darken-4 truncate"
                  id="title_card"
                  th:text="${produto.nome}"
                ></span>
                <br />
                <p>
                  <strong><span th:text="${produto.preco}"></span></strong>
                </p>
                <span th:text="${produto.imagem}"></span>
                <div class="center">
                  <i class="material-icons prefix blue-text">shopping_basket</i>
                  <div class="input-field inline">
                    <input type="number" class="center" step="1" id="qtd1" />
                  </div>
                </div>
                <div class="card-action center">
                  <a class="btn blue waves-effect waves-light" id="produto1"
                    >Comprar</a
                  >
                  <a
                    id="delProd"
                    href="#"
                    class="btn white modal-trigger blue lighten-1 right"
                    data-target="modal3"
                    ><i class="material-icons red-text">delete</i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- FIM CARD -->
          <!-- MODAL POPUP EXCLUIR PRODUTO DO CARRINHO -->
          <div id="modal3" class="modal">
            <div class="modal-content">
              <h4>Excluir Produto</h4>
              <p>Deseja mesmo excluir esse item?</p>
            </div>
            <div class="modal-footer">
              <a
                href="#!"
                class="modal-close waves-effect waves-light btn red"
                style="margin-right: 100px; width: 100px"
                onclick="limpaCarrinho()"
                >Excluir</a
              >
              <a
                href="#!"
                class="modal-close waves-effect waves-light btn blue"
                style="width: 100px"
                >Não</a
              >
            </div>
          </div>
          <!-- FIM MODAL POPUP EXCLUIR PRODUTO DO CARRINHO -->
        </div>
      </div>
    </main>
    <!-- FIM MAIN -->

    <!-- FOOTER -->
    <div class="divider"></div>
    <footer class="page-footer transparent blue lighten-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <img src="./img/led.ico" />
            <p class="blue-text">
              Uma empresa com os produtos de maior qualidade do mercado.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="blue-text">Links</h5>
            <ul>
              <li>
                <a class="blue-text" href="https://facebook.com/">Facebook</a>
              </li>
              <li>
                <a class="blue-text" href="https://instagram.com/">Instagram</a>
              </li>
              <li>
                <a class="blue-text" href="https://br.linkedin.com/"
                  >Linkedin</a
                >
              </li>
              <li>
                <a class="blue-text" href="https://twitter.com/">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container blue-text container-led">
          © 2021 Copyright LEDs Info
        </div>
      </div>
    </footer>
    <!-- FIM FOOTER -->

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

    <script>
      //MENU MOBILE
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".carousel").carousel({
          padding: 0,
          fullWidth: true,
          indicators: true,
          duration: 100,
        });
        setInterval(function () {
          $("#carousel1").carousel("next");
        }, 4000);
        $(document).ready(function () {
          $(".modal").modal();
        });
      });
    </script>
  </body>
</html>
